{{> header}}
<div class="container">
{{#each data}}
    <ul>
        <li>{{this.title}}</li>
        <li><a href="{{this.link}}">{{this.link}}</a></li>
        <button class="buttonNote" data-id="{{this._id}}">Add Note</button>
        <button class="buttonDeleteFavorite" data-id="{{this._id}}">Remove from Favorites</button>
    </ul>
{{/each}}
</div>

{{> notes}}